.container1 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;

    .heroText {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-inline: 2em;
        //padding-left: 5em;
        text-align: center;

        h2 {
            color: #f0f0f0;
            font-size: clamp(3.2em, calc(-0.875em + 8.333vw), 4.5em);
            font-weight: 900;
            text-transform: uppercase;
            line-height: 1.2em;
        }

        h3 {
            color: #f0f0f0;
            font-size: clamp(2em, calc(-0.875em + 8.333vw), 3em);
            font-weight: 800;
            text-transform: uppercase;
            margin-bottom: 0.5em;
        }

        .wrapper {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 1.5em;

            span {
                color: #f0f0f0;
                font-size: clamp(0.8em, calc(-0.875em + 8.333vw), 1.1em);
                font-weight: 600;
            }
    
            button {
                margin-top: 2em;
                padding: 0.7em 1em;
                border-radius: 50vh;
                border: none;
                min-width: 10em;
                background: linear-gradient(135deg, #fef482 -50%, #894e00 100%);
                box-shadow: 10px 10px 20px 0 #00000046;
                color: #f0f0f0;
                font-size: 1em;
                font-weight: 600;
                outline: none;
                transition: 0.2s ease-out;
    
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .logo {
        width: 100%;
        height: 40vh;
        right: 4em;
    }
}

.container2 {
    width: 100%;
    min-height: 100vh;
    padding: 1.5em 1em;

    h3 {
        font-size: 2em;
        color: #f0f0f0;
        font-weight: 800;
        margin-bottom: 1em;
    }

    .postsContainer {
        display: grid;
        width: 100%;
        height: max-content;
        gap: 2em;
        grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
        justify-items: center;
    }
}

@media (min-width: 1100px) {
    .container1 {
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: hidden;
        padding-left: 5em;

        .heroText {
            width: 60%;
            align-items: flex-start;

            .wrapper {
                align-items: flex-start;
            }
        }

        .logo {
            height: 70vh;
        }
    }
}