@import 'preview_product.module.scss';

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.card {
    &:hover {
        .title {
            animation: move 3s linear infinite forwards;
        }
    }

    .title {
        transition: 2s linear;
        z-index: 1;
        background: none;
    
        span {
            background: linear-gradient(135deg, #fef482 -50%, #894e00 100%);
            background-clip: text;
            color: transparent;
            margin-right: 1em;
        }
    }

    .bInfo {
        .cart {
            button {
                position: relative;

                &.active {
                    pointer-events: none;

                    &::before {
                        opacity: 1;
                    }
                }

                &::before {
                    content: '';
                    width: 100%;
                    height: 100%;
                    background-color: #4ec441;
                    transition: 0.2s ease-out;
                    position: absolute;
                    z-index: 1;
                    border-radius: 50%;
                    opacity: 0;
                }
    
                i {
                    z-index: 2;
                }
            }
        }
    }
}